.node-view{
  .btn-link{
    padding:5px;
    outline:none;
  }
  .node-header-left{
    width:30px;
  }
  .node-header,.node-body{
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .node-header-left,.node-header-middle,.node-header-right{
    display:table-cell;
  }
  .node-header-middle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .node-header-right{
  }
  .node-body{
  }
}